<!-- .content BEGIN -->
<main class="content" aria-labelledby="mainContentLabel">
    <div class="header_spacer"></div>
    <a href="#" class="gotop_btn btn btn-info">
        <span class="gotop_btn-text">Наверх</span>
        <span class="gotop_btn-icon">
            {{Icon iconName="chevron_up"}}
        </span>
    </a>

    {{#is name '===' 'rules'}}
        {{> section-rules/section-rules}}
    {{/is}}

    {{#is name '===' 'about'}}
        {{> section-about/section-about}}

        {{> section-tournaments/section-tournaments}}

        {{> section-updates/section-updates}}
    {{/is}}

    {{#is name '===' 'contacts'}}
        {{> section-contacts/section-contacts}}
    {{/is}}

    {{#is name '===' 'experts'}}
        {{> section-experts/section-experts}}
    {{/is}}

    {{#is name '===' 'events'}}
        {{> section-events/section-events}}
    {{/is}}

</main>
<!-- END .content -->
