node_modules
dev
.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*

bower_components
useful/
design/
Thumbs.db
builds/

my-tars-backup_ver-Sat_Oct_29_2016_09_43_07/
1.8.4-webpack.config.js
