<!-- .section-rules BEGIN -->

<div class="col-md-10 col-md-push-1">
    <div class="section-rules">
        <div class="section-rules__border"></div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="section-rules__aside">
                    <ol class="section-rules__list">
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Общие условия использования Сайта</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Регистрация Пользователя</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Права и обязанности Пользователя</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link _active">Права и обязанности Администрации
                                Сайта</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Условия использования материалов,
                                размещенных
                                на Сайте</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Заявления о размещении на Сайте информации
                                (контента), нарушающей законные права правообладателя</a>
                        </li>
                        <li class="section-rules__list-item">
                            <a href="#" class="section-rules__list-link">Общие правила</a>
                        </li>
                    </ol>

                    <a href="#" class="btn btn-success btn-block clearfix hidden-xs">
                        <span class="section-rules__btn-text">Получай обновления</span>
                        <span class="section-rules__btn-icon">
                        {{Icon iconName="plane"}}
                    </span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="section-rules__holder">
                    <h3 class="section-rules__title">
                        Пользовательское соглашение
                    </h3>
                    <h4 class="section-rules__tip">
                        Стандартное игровое соглашение Scores 24.
                    </h4>

                    <p class="section-rules__text">
                        Условия использования действует 01.12.2017. Пожалуйста, внимательно прочитайте настоящие Условия
                        использования перед использованием нашего Сайта и / или любых наших услуг.
                    </p>


                    <h4 class="section-rules__subtitle">
                        Общие условия пользования сайта Scores 24.
                    </h4>

                    <p class="section-rules__text _mod-1">
                        <b>«Scores24»</b> - средство массовой информации (сетевое издание) «Ставка TV», размещенное в
                        сети
                        Интернет по электронному адресу: Улица Аленушки и ее Брата.
                    </p>
                    <p class="section-rules__text _mod-1">
                        <b>«Scores24»</b> - юридическое лицо, являющееся учредителем средства массовой информации и
                        правообладателем Сайта: Общество с ограниченной ответственностью «Ленинград Медиа», ОГРН
                        1167847328802.
                        «Пользователь» - физическое лицо, посетители Сайта, принимающий условия настоящего Соглашения и
                        получивший учетную запись на Сайте в установленном порядке.
                    </p>
                    <p class="section-rules__text _mod-1">
                        <b>«Администрация Сайта»</b> - уполномоченные лица Компании, устанавливающие порядок
                        использования
                        Сайта, управляющие работой Сайта и контролирующие выполнение Пользователями настоящего
                        Соглашения.
                        «Сервисы Сайта» - функциональные возможности Сайта, предназначенные для использования
                        посетителями и Пользователями.
                    </p>

                    <div class="section-rules__node">
                        <h3 class="section-rules__subtitle">Общие условия использования Сайта</h3>

                        <ul class="section-rules__node-list _unordered">
                            <li class="section-rules__node-list-item">Настоящее Пользовательское соглашение (далее – "Соглашение") является юридическим соглашением между Пользователем и Компанией, устанавливающее правила использования Сайтом и предоставляющее доступ к Сервисам Сайта.</li>
                            <li class="section-rules__node-list-item">Регистрацией на Сайте Пользователь подтверждает свое полное согласие с условиями настоящего Соглашения в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</li>
                            <li class="section-rules__node-list-item">В случае несогласия с какими-либо условиями Соглашения Пользователь обязуется незамедлительно прекратить использовать Сервисы Сайта (комментарии, чат и личный кабинет).</li>
                            <li class="section-rules__node-list-item">Компания оставляет за собой право в любое время изменить условия настоящего Соглашения в одностороннем порядке без уведомления Пользователя. Новая редакция Соглашения вступает в силу с момента ее опубликования на Сайте.</li>
                        </ul>
                    </div>

                    <div class="section-rules__node">
                        <h3 class="section-rules__subtitle">2. Регистрация Пользователя</h3>

                        <ol class="section-rules__node-list _ordered">
                            <li class="section-rules__node-list-item">2.1. Чтобы стать Пользователем Сайта необходимо
                                пройти процедуру регистрации.
                            </li>
                            <li class="section-rules__node-list-item">2.2. Для получения доступ к сервисам Сайта,
                                посетителю необходимо создать учетную запись. В процессе регистрации посетитель
                                указывает имя, фамилию, адрес электронной почты, а также пароль. Регистрация также
                                возможна посредством учетных записей социальных сетей Facebook, Twitter, Mail.ru,
                                Вконтакте, Одноклассники.
                            </li>
                            <li class="section-rules__node-list-item">2.3. После успешного прохождения процесса
                                регистрации на Сайте Пользователь получает доступ к Сервисам Сайта (личному кабинету,
                                комментариям и чату), недоступным для Пользователя, не прошедшего процесс регистрации.
                            </li>
                            <li class="section-rules__node-list-item">2.4.  В процессе получения учетной записи
                                Пользователь предоставлять полную, актуальную информацию, при этом Администрация Сайта
                                оставляет за собой право отказать в регистрации или прекратить процесс регистрации
                                нового Пользователя по своему усмотрению.
                            </li>
                            <li class="section-rules__node-list-item">2.5.  При регистрации Пользователь не имеет
                                права:
                            </li>
                            <li class="section-rules__node-list-item">2.5.1. Выдавать себя за другого Пользователя,
                                используя его данные и пароль.
                            </li>
                            <li class="section-rules__node-list-item">2.5.2.  Сообщать свои данные для пользования
                                учетной записью Пользователя третьим лицам.
                            </li>
                            <li class="section-rules__node-list-item">2.5.3. Использовать для аватаров картинки с
                                элементами, относящимся к фашистской и националистической символике, содержащие
                                порнографические материалы и иные материалы и изображения, противоречащие
                                законодательству РФ.
                            </li>
                            <li class="section-rules__node-list-item">2.6. Регистрацией на Сайте Пользователь
                                подтверждает, что обладает необходимой правоспособностью и полномочиями для принятия
                                настоящего Соглашения, способен исполнять условия Соглашения и нести ответственность за
                                нарушение Соглашения, в том числе по правоотношениям, возникшим вследствие пользования
                                Сайтом.
                            </li>
                            <li class="section-rules__node-list-item">2.7. Пользователь остается ответственным за
                                хранением своего пароля для доступа к Сайту в тайне. В случае, если пароль для доступа к
                                учетной записи Пользователя был утерян Пользователем или стал известен другим лицам,
                                помимо Пользователя, Пользователь обязан незамедлительно сменить свой пароль для доступа
                                к Сервисам Сайта.
                            </li>
                            <li class="section-rules__node-list-item">2.8. Пользователь соглашается, что все действия,
                                произведенные от его имени (с использованием учетной записи пользователя), расцениваются
                                как действия этого Пользователя и могут повлечь за собой ответственность для
                                Пользователя.
                            </li>
                            <li class="section-rules__node-list-item">2.9. Администрация Сайта имеет право в любое время
                                удалить любые данные и учетные записи по любой причине или без причины. Администрация
                                оставляет за собой право, но не обязана следить за деятельностью Пользователей Сайта.
                            </li>
                            <li class="section-rules__node-list-item">2.10. При регистрации Пользователь обязуется
                                указать достоверные личные данные.
                            </li>
                        </ol>

                    </div>

                    <div class="section-rules__node">
                        <h3 class="section-rules__subtitle">4. Права и обязанности Пользователя</h3>

                        <ol class="section-rules__node-list _ordered">
                            <li class="section-rules__node-list-item">4.1. Пользователь обязуется не размещать контент провокационного, грубого, оскорбительного и агрессивного характера, противоречащий моральным и этическим нормам, нарушающий действующее законодательство, нарушающий права, в том числе, интеллектуальные, третьих лиц.</li>
                            <li class="section-rules__node-list-item"> Пользователь не имеет права:</li>
                            <li class="section-rules__node-list-item">4.2. Использовать материалы, размещенные на Сайте, любым способом, в том числе, продавать и перепродавать, публично их демонстрировать, транслировать по радио или телевидению путем сообщения в эфир или по кабелю, перерабатывать, переводить, вносить в материалы любые изменения, а также делать их доступными для любого лица в любое время по его выбору (в том числе посредством сети Интернет), а также для каких-либо коммерческих целей, без предварительного письменного разрешения Компании, за исключением разрешенного Соглашением.</li>
                            <li class="section-rules__node-list-item">4.3. Регистрироваться на Сайте как другое лицо, вводить в заблуждение других Пользователей относительно своей личности, используя регистрационные данные другого человека; умышленно искажать представление о самом себе, своем возрасте или своих отношениях с другими лицами или другими организациями; передавать регистрационные данные другим лицам.</li>
                            <li class="section-rules__node-list-item">4.4. Пытаться любым способом, в том числе путем подбора пароля, взлома либо других действий получать доступ к чужим логинам и паролям.</li>
                            <li class="section-rules__node-list-item">4.5. Использовать автоматизированные программы взаимодействия с Сайтом и его Сервисами, размещать любые файлы, которые содержат или могут содержать вирусы и другие вредоносные программы.</li>
                            <li class="section-rules__node-list-item">4.6. Передавать свои регистрационные данные другим лицам.</li>
                            <li class="section-rules__node-list-item">4.7. Пользователь несет ответственность за нарушение настоящего Соглашения в соответствии с законодательством РФ.</li>
                            <li class="section-rules__node-list-item">4.8. В случае нанесения ущерба третьим лицам, другим Пользователям или Сайту, Пользователь обязуется возместить причиненный ущерб в полном объеме в соответствии с действующим законодательством.</li>
                            <li class="section-rules__node-list-item">4.9. Пользователь несет ответственность за достоверность информации и данных, указанных им при регистрации на Сайте.</li>
                        </ol>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- END .section-rules -->
