<!-- .section-tournaments BEGIN -->
<div class="section-tournaments">
    <div class="text-center">
        <div class="section-tournaments__bg">
            <!--<img src="__static__img/assets/section-tournaments/tournament_bg.jpg" class="section-tournaments__bg-img">-->

            <div class="section-tournaments__info">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div class="section-tournaments__info-title">
                                Турниры по<br>
                                Футболу
                            </div>
                            <p class="section-tournaments__info-text">
                                Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической
                                информации о
                                популярных видах спорта.
                            </p>

                            <div class="section-tournaments__info-logo">
                                <img src="__static__img/assets/section-tournaments/logo.png"
                                     class="section-tournaments__info-logo-img">
                            </div>
                            <div class="section-tournaments__info-counter">
                                247 матчей в месяц
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2 pull-right text-right">
                            <div class="section-tournaments__info-title">667</div>
                            <div class="section-tournaments__info-subtitle">Турниров</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-tournaments__guy">
                <img src="__static__img/assets/section-tournaments/tournament_guy.png"
                     class="section-tournaments__bg-img">
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="section-tournaments__list">
            <li class="section-tournaments__item">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <div class="section-tournaments__info-title">
                            Турниров по<br>
                            хоккею
                        </div>
                        <p class="section-tournaments__info-text">
                            Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической
                            информации о
                            популярных видах спорта.
                        </p>

                        <div class="section-tournaments__info-logo">
                            <img src="__static__img/assets/section-tournaments/tournament_1.png"
                                 class="section-tournaments__info-logo-img">
                        </div>
                        <div class="section-tournaments__info-counter">
                            247 матчей в месяц
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 pull-right text-right">
                        <div class="section-tournaments__info-title">078</div>
                        <div class="section-tournaments__info-subtitle">
                            Турниров
                        </div>
                    </div>
                </div>
            </li>
            <li class="section-tournaments__item">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <div class="section-tournaments__info-title">
                            Турниров по<br>
                            Баскетболу
                        </div>
                        <p class="section-tournaments__info-text">
                            Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической
                            информации о
                            популярных видах спорта.
                        </p>

                        <div class="section-tournaments__info-logo">
                            <img src="__static__img/assets/section-tournaments/tournament_2.png"
                                 class="section-tournaments__info-logo-img">
                        </div>
                        <div class="section-tournaments__info-counter">
                            247 матчей в месяц
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 pull-right text-right">
                        <div class="section-tournaments__info-title">142</div>
                        <div class="section-tournaments__info-subtitle">Турниров</div>
                    </div>
                </div>
            </li>
            <li class="section-tournaments__item">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <div class="section-tournaments__info-title">
                            Турниров по <br>
                            Теннису
                        </div>
                        <p class="section-tournaments__info-text">
                            Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической
                            информации о
                            популярных видах спорта.
                        </p>

                        <div class="section-tournaments__info-logo">
                            <img src="__static__img/assets/section-tournaments/tournament_3.png"
                                 class="section-tournaments__info-logo-img">
                        </div>
                        <div class="section-tournaments__info-counter">
                            247 матчей в месяц
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2 pull-right text-right">
                        <div class="section-tournaments__info-title">
                            127
                        </div>
                        <div class="section-tournaments__info-subtitle">
                            Турниров
                        </div>
                    </div>
                </div>
            </li>
        </ul>


    </div>

</div>
<!-- END .section-tournaments -->
