<!-- .section-events BEGIN -->
<div class="section-events">
    <div class="container">
        <ul class="section-events__list">
            <li class="section-events__item">
                <div class="section-events__banner _basket">
                    <div class="section-events__banner-content">
                        <div class="section-events__banner-caption">Главные события</div>
                        <div class="section-events__banner-tip">Лучшие матчи на ближайнии дни по Баскетболу</div>

                        <div class="section-events__banner-status">LIVE</div>
                        <div class="section-events__banner-counter">2 матча</div>
                        <ul class="section-events__banner-list">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score _red">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score _red">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                        </ul>

                        <div class="section-events__banner-status">Завтра</div>
                        <div class="section-events__banner-counter">3 матча</div>
                        <ul class="section-events__banner-list _last">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item text-center">
                                <a href="#" class="section-events__link">ВСЕ МАТЧИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="section-events__item">
                <div class="section-events__banner _hockey">
                    <div class="section-events__banner-content">
                        <div class="section-events__banner-caption">Главные события</div>
                        <div class="section-events__banner-tip">Лучшие матчи на ближайнии дни по Хоккею</div>

                        <div class="section-events__banner-status">LIVE</div>
                        <div class="section-events__banner-counter">2 матча</div>
                        <ul class="section-events__banner-list">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score _red">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score _red">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                        </ul>

                        <div class="section-events__banner-status">Завтра</div>
                        <div class="section-events__banner-counter">3 матча</div>
                        <ul class="section-events__banner-list _last">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item text-center">
                                <a href="#" class="section-events__link">ВСЕ МАТЧИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="section-events__item">
                <div class="section-events__banner _soccer">
                    <div class="section-events__banner-content">
                        <div class="section-events__banner-caption">Главные события</div>
                        <div class="section-events__banner-tip">Лучшие матчи на ближайнии дни по Футболу</div>

                        <div class="section-events__banner-status">LIVE</div>
                        <div class="section-events__banner-counter">2 матча</div>
                        <ul class="section-events__banner-list">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-status _card">
                                        {{Icon iconName="red_card"}}
                                    </div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score _red">2 : 3</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-status _red"></div>
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">- : -</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                        </ul>

                        <div class="section-events__banner-status">Завтра</div>
                        <div class="section-events__banner-counter">3 матча</div>
                        <ul class="section-events__banner-list _last">
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">Томск</div>
                                </div>
                                <div class="section-events__team">
                                    <div class="section-events__team-logo">
                                        <img src="__static__img/assets/section-events/team_1.png"
                                             class="section-events__team-img">
                                    </div>
                                    <div class="section-events__team-name">ЦСКА Москва</div>
                                </div>
                                <div class="section-events__score">112 : 98</div>
                            </li>
                            <li class="section-events__banner-item text-center">
                                <a href="#" class="section-events__link">ВСЕ МАТЧИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="section-events__item">
                <div class="section-events__banner _tennis">
                    <div class="section-events__banner-content">
                        <div class="section-events__banner-logo">
                            <img src="__static__img/assets/section-events/wimbledon_logo.png"
                                 class="section-events__banner-img">
                        </div>
                        <div class="section-events__banner-caption">Главные события</div>
                        <div class="section-events__banner-tip">Wimbledon 2017</div>

                        <div class="section-events__banner-status">Сейчас</div>
                        <div class="section-events__banner-status _online"></div>

                        <ul class="section-events__banner-list">
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Гойовчик П.</div>
                                    <div class="section-events__banner-set_score">
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">30</div>
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_score">
                                        <div class="section-events__banner-set_cell">4</div>
                                        <div class="section-events__banner-set_cell">4</div>
                                        <div class="section-events__banner-set_cell">4</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">15</div>
                                    </div>
                                </div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Басилашвили Н.</div>
                                    <div class="section-events__banner-set_score">
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">30</div>
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Янович Е.</div>
                                    <div class="section-events__banner-set_score">
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">6</div>
                                        <div class="section-events__banner-set_cell">4</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">&nbsp;</div>
                                        <div class="section-events__banner-set_cell">30</div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="section-events__banner-status">Сегодня</div>
                        <ul class="section-events__banner-list">
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Главачкова А.</div>
                                    <div class="section-events__banner-set_advt">
                                        13:00
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_advt">
                                        WTA
                                    </div>
                                </div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Главачкова А.</div>
                                    <div class="section-events__banner-set_advt">
                                        13:00
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_advt">
                                        WTA
                                    </div>
                                </div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Главачкова А.</div>
                                    <div class="section-events__banner-set_advt">
                                        13:00
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_advt">
                                        WTA
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="section-events__banner-status">Сегодня</div>
                        <ul class="section-events__banner-list _last">
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Главачкова А.</div>
                                    <div class="section-events__banner-set_advt">
                                        13:00
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_advt">
                                        WTA
                                    </div>
                                </div>
                            </li>
                            <li class="section-events__banner-item">
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Главачкова А.</div>
                                    <div class="section-events__banner-set_advt">
                                        13:00
                                    </div>
                                </div>
                                <div class="section-events__banner-set">
                                    <div class="section-events__banner-country">
                                        <img src="__static__img/assets/section-events/flag_germany.png"
                                             class="section-events__banner-flag">
                                    </div>
                                    <div class="section-events__banner-gamer">Пэр Б.</div>
                                    <div class="section-events__banner-set_advt">
                                        WTA
                                    </div>
                                </div>
                            </li>
                            <li class="section-events__banner-item text-center">
                                <a href="#" class="section-events__link">ВСЕ МАТЧИ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- END .section-events -->
