<!-- .section-experts BEGIN -->
<div class="section-experts">
    <div class="container">
        <ul class="section-experts__list">
            <li class="section-experts__item">
                <div class="section-experts__banner _hockey">
                    <div class="section-experts__banner-content">
                        <div class="section-experts__name">ВИКТОР Гусев</div>
                        <div class="section-experts__tip">Рекомендует</div>
                        <div class="section-experts__promo">
                            <span class="section-experts__promo-text">Scores</span>
                            <sup class="section-experts__promo-sup">24</sup></div>
                        <div class="section-experts__quote">
                             {{Icon iconName="quote"}}
                        </div>
                        <div class="section-experts__caption">Все То Же Самое</div>
                        <div class="section-experts__no-ads">Но лучше и без рекламы</div>

                        <div class="section-experts__photo">
                            <img src="__static__img/assets/section-experts/gusev.png"
                                 class="section-experts__photo-img">
                        </div>
                        <div class="section-experts__logo">
                            <img src="__static__img/assets/section-experts/expert_nhl.png"
                                 class="section-experts__logo-img">
                        </div>
                    </div>
                </div>
            </li>
            <li class="section-experts__item">
                <div class="section-experts__banner _basket">
                    <div class="section-experts__banner-content">
                        <div class="section-experts__name">Дмитрий Матеранский</div>
                        <div class="section-experts__tip">Рекомендует</div>
                        <div class="section-experts__promo">
                            <span class="section-experts__promo-text">Scores</span>
                            <sup class="section-experts__promo-sup">24</sup></div>
                        <div class="section-experts__quote">
                             {{Icon iconName="quote"}}
                        </div>
                        <div class="section-experts__caption">Все То Же Самое</div>
                        <div class="section-experts__no-ads">Но лучше и без рекламы</div>

                        <div class="section-experts__photo">
                            <img src="__static__img/assets/section-experts/materansky.png"
                                 class="section-experts__photo-img">
                        </div>
                        <div class="section-experts__logo">
                            <img src="__static__img/assets/section-experts/expert_nba.png"
                                 class="section-experts__logo-img">
                        </div>
                    </div>
                </div>
            </li>
            <li class="section-experts__item">
                <div class="section-experts__banner _tennis">
                    <div class="section-experts__banner-content">
                        <div class="section-experts__name">Мария Командная</div>
                        <div class="section-experts__tip">Рекомендует</div>
                        <div class="section-experts__promo">
                            <span class="section-experts__promo-text">Scores</span>
                            <sup class="section-experts__promo-sup">24</sup></div>
                        <div class="section-experts__quote">
                             {{Icon iconName="quote"}}
                        </div>
                        <div class="section-experts__caption">Все То Же Самое</div>
                        <div class="section-experts__no-ads">Но лучше и без рекламы</div>

                        <div class="section-experts__photo">
                            <img src="__static__img/assets/section-experts/comandnaya.png"
                                 class="section-experts__photo-img">
                        </div>
                        <div class="section-experts__logo">
                            <img src="__static__img/assets/section-experts/expert_atp.png"
                                 class="section-experts__logo-img">
                        </div>
                    </div>
                </div>


            </li>
            <li class="section-experts__item">
                <div class="section-experts__banner _soccer">
                    <div class="section-experts__banner-content">
                        <div class="section-experts__name">ВИКТОР Гусев</div>
                        <div class="section-experts__tip">Рекомендует</div>
                        <div class="section-experts__promo">
                            <span class="section-experts__promo-text">Scores</span>
                            <sup class="section-experts__promo-sup">24</sup></div>
                        <div class="section-experts__quote">
                             {{Icon iconName="quote"}}
                        </div>
                        <div class="section-experts__caption">Все То Же Самое</div>
                        <div class="section-experts__no-ads">Но лучше и без рекламы</div>

                        <div class="section-experts__photo">
                            <img src="__static__img/assets/section-experts/gusev.png"
                                 class="section-experts__photo-img">
                        </div>
                        <div class="section-experts__logo">
                            <img src="__static__img/assets/section-experts/expert_uefa.png"
                                 class="section-experts__logo-img">
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
<!-- END .section-experts -->
