<!-- .section-about BEGIN -->
<div class="container">
    <div class="section-about">

        <div class="row">
            <div class="col-xs-12 col-md-6 pull-right">
                <div class="section-about__img-w">
                    <img src="__static__img/assets/section-about/about.png"
                         class="section-about__img">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="section-about__title">
                    О Scores 24
                </div>
                <ul class="section-about__tags">
                    <li class="section-about__tag">
                        <span class="section-about__tag-text">Миссия</span>
                    </li>
                </ul>

                <p class="section-about__text">
                    Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической информации о самых
                    популярных видах спорта. Одна из главных функций Scores24 – моментальное оповещение о любых
                    изменениях в
                    спортивном мире – от забитого гола в футбольном матче чемпионата Анголы до остановкиzтеннисного
                    поединка
                    в Австралии.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="section-about__title text-center">
                <span>В Рамках<br>
                одного портала<br></span>
                    <span class="_clr-gray">мы объеденили</span>
                </div>

                <ul class="section-about__tags text-center">
                    <li class="section-about__tag">
                        <span class="section-about__tag-text">Функционал</span>
                    </li>
                </ul>

                <p class="section-about__text text-center">
                    Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической информации о самых
                    популярных видах спорта. Одна из главных функций Scores24 – моментальное оповещение.
                </p>

                <ul class="section-about__list">
                    <li class="section-about__item">
                        <div class="section-about__item-icon">
                            {{Icon iconName="plane"}}
                        </div>
                        <div class="section-about__item-name">подробную информацию</div>
                        <div class="section-about__item-text">Миссия Scores24 – предоставить русскоязычной аудитории
                            максимум статистической информации.
                        </div>
                    </li>
                    <li class="section-about__item _right">
                        <div class="section-about__item-icon">
                            {{Icon iconName="plane"}}
                        </div>
                        <div class="section-about__item-name">подробную информацию</div>
                        <div class="section-about__item-text">Миссия Scores24 – предоставить русскоязычной аудитории
                            максимум статистической информации.
                        </div>
                    </li>
                    <li class="section-about__item _last">
                        <div class="section-about__item-icon">
                            {{Icon iconName="plane"}}
                        </div>
                        <div class="section-about__item-name">подробную информацию</div>
                        <div class="section-about__item-text">Миссия Scores24 – предоставить русскоязычной аудитории
                            максимум статистической информации.
                        </div>
                    </li>
                    <li class="section-about__item _right _last">
                        <div class="section-about__item-icon">
                            {{Icon iconName="plane"}}
                        </div>
                        <div class="section-about__item-name">подробную информацию</div>
                        <div class="section-about__item-text">Миссия Scores24 – предоставить русскоязычной аудитории
                            максимум статистической информации.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END .section-about -->
