<!-- .section-updates BEGIN -->
<div class="section-updates">
    <div class="text-center">
        <div class="section-updates__bg">
            <!--<img src="__static__img/assets/section-updates/update_bg.jpg" class="section-updates__img">-->

            <div class="section-updates__info">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div class="section-updates__info-title">
                                Получайте <br>
                                обновления
                            </div>
                            <p class="section-updates__info-text">
                                Миссия Scores24 – предоставить русскоязычной аудитории максимум статистической
                                информации о популярных видах спорта.
                            </p>

                        </div>
                        <div class="col-xs-12 col-md-5 pull-right">
                            <div class="section-contacts__form">
                                <form action="#">
                                    <div class="section-contacts__form-row">
                                        <div class="section-contacts__form-cell has-success">
                                            <input value="hi@flatstudio.co" id="contact_email"
                                                   class="section-contacts__form-input _not-empty form-control js-check-empty"/>
                                            <label class="section-contacts__form-label" for="contact_email">Ваш
                                                email</label>
                                        </div>
                                        <div class="section-contacts__form-cell">
                                            <input id="contact_name"
                                                   class="section-contacts__form-input form-control js-check-empty"/>
                                            <label class="section-contacts__form-label" for="contact_name">Ваше
                                                имя</label>
                                        </div>
                                    </div>
                                    <div class="section-contacts__form-controls">
                                        <button class="btn btn-success">
                                            <span class="section-contacts__form-btn-text">Отправить сообщение</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END .section-updates -->
